---
layout: default
---

<article class="px-1" data-toc="true">
  <header class="mb-4">
    <h1 class="post-title" style="font-weight: 800 !important;">{{ page.title }}</h1>

    {% if page.subtitle %}
      <p class="post-subtitle" style="margin-top: 0.6rem !important; margin-bottom: 1.5rem !important;">
        {{ page.subtitle }}
      </p>
    {% endif %}
    
    <hr class="my-4">
  </header>

  <div class="content">
    {{ content }}
  </div>

  <!--  댓글 시스템 (Giscus) 영역 추가 -->
  <div style="margin-top: 4rem;">
<script src="https://giscus.app/client.js"
        data-repo="murmuringjohn/murmuringjohn.github.io"
        data-repo-id="R_kgDOSm6sAQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOSm6sAc4C-M4-"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
  </div>
  <!--  댓글 시스템 끝 -->

</article>
